h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
p, ul {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: dodgerblue;
}

$header-height: 30px;

#header{
	height: $header-height;
	padding: 30px 0;
    margin-top: 80px;
	margin-bottom: 120px;
	text-align: center;
    font-size: 20px;
	line-height: $header-height;

	@media screen and (max-width: 1040px){
        margin-top: 20px;
		margin-bottom: 30px;
		height: auto;
		position: relative;
		padding-bottom: 10px;
	}
	@media screen and (max-width: 620px){
        margin-top: 10px;
	    margin-bottom: 15px;
	}

	a{
    color: dodgerblue;
    text-decoration: none;
		&:hover{
			color: dodgerblue;
			border-bottom:none;
		}
	}

	h1 {
        margin: 0 auto 25px;
        text-align: center;
        font-family: "Montserrat";
		font-weight: 100;
		font-size: 70px;
        letter-spacing: 0.3em;
        padding-left: 0.3em;
		@media screen and (max-width: 1040px){
			float: none;
		}
        @media screen and (max-width: 480px){
            margin: 0 auto 5px;
            font-size: 50px;
            letter-spacing: 0.1em;
            padding-left: 0.1em;
        }
	}

// 	.tagline{
// 		margin-top:15px;
//     font-family: "Montserrat";
// 		font-weight: 100;
// 		font-size: 32px;
//         color: $color-blog-subtitle;
// 		@media screen and(max-width: 1040px){
// 			float: none;
// 		}
//         @media screen and (max-width: 480px){
//             font-size: 20px;
//         }
// 	}
}

